/* Adapeted from: https://github.com/mdn/learning-area/tree/main/html/tables/basic */

table {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: white;
}

td, th {
  border-color: inherit;
  border-width: 1px;
  border-style: solid;
  padding: 10px 20px;
  background-color: inherit;
  color: inherit;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

caption {
  color: inherit;
  font-weight: bold;
  padding: 10px;
}
